@import "common.scss";

$border-width: 4px;

a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&:hover {
		&::after {
			top: calc(-1 * $border-width * 2);
			left: calc(-1 * $border-width * 2);
			height: calc(100% + $border-width * 4);
			width: calc(100% + $border-width * 4);
		}
	}

	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		top: calc(-1 * $border-width);
		left: calc(-1 * $border-width);
		height: calc(100% + $border-width * 2);
		width: calc(100% + $border-width * 2);
		background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
		background-size: 300% 300%;
		border-radius: 50%;
		animation: animated-gradient 4s ease alternate infinite;
		transition: all 0.75s linear;
	}

	img {
		border-radius: 50%;
		width: 200px;
	}
}

@keyframes animated-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
